<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FormCollection.Properties.Settings.GlendaleLibrarySystemConnectionString"
            connectionString="Data Source=.;Initial Catalog=GlendaleLibrarySystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="FormCollection.Properties.Settings.GlendaleLibrarySystem_TestConnectionString"
            connectionString="Data Source=.;Initial Catalog=GlendaleLibrarySystem-Test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>